body {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    background-color: gray;
    font-family: helvetica, arial, sans-serif;

}

h1, 
h2 {
    margin: 0;
}

p {
    line-height: 1.4em;
}

.main_wrapper {
    max-width: 800px;
    background-color: #fff;
    margin: 0 auto;
}

.nav {
    margin: 0 auto;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    display: inline;
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.title h2 {
    width: 200px;
    text-align: center;
    margin: 0 auto;
}

.pad_color {
    padding: 20px;
    color: #fff;
}

.www_background {
    background-color: #4286f4;
}

.basics_background {
    background-color: #f93939;
}

.basics_background li {
    padding: 10px;
}

.elements_background {
    background-color: #ff9347;
}

.attributes_background {
    background-color: #42f489;
}

.inline_block_background {
    background-color: #42ebf4;
}