@media screen and (max-width: 650px) {
  .navbar_items,
  .navbar {
      flex-direction: column;
    }
  .navbar_items {
      display:none;
      margin-left:0;
    }
  .navbar_items a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar_toggleShow {
      display: flex;
    }
  .navbar_link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
    }
}